!!! 5
%html
  %head
    %title DB Staff
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag "application", :medial => "all", 'data-turbolinks-track' => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

    %body
      %div{:class => "navbar navbar-default navbar-fixed-top"}
        %div{:class => "container"}
          %div{:class => "navbar-header"}
            %button{:type => "button", :class => "navbar-toggle collapsed", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
              %span{:class => "icon-bar"}
              %span{:class => "icon-bar"}
              %span{:class => "icon-bar"}
            %a{:class => "navbar-brand", :href => "#"} DB Staff
          %div{:class => "navbar-collapse collapse", :style=> "height: 1px;"}
            %ul{:class => "nav navbar-nav"}
              %li
                = link_to 'Staff', ''
      %div{:class => "container pull_down"}
        = yield
